/* Klámköttur */
.b-comment[data-user_id="583040"]:not(.tooltipped) header a.name:hover:after {
    content: "Нэкомата 猫また";
    color: crimson;
}
.b-comment[data-user_id="583040"]:not(.tooltipped) header a.name, .b-user[id="583040"] a.name, .b-user16>img[src*="583040.png"]+span {
  	color: crimson;
}

/* SeppuKun */
.b-comment[data-user_id="844199"]:not(.tooltipped) header a.name:hover:after {
    content: "Оками 狼";
    color: #94211e;
}
.b-comment[data-user_id="844199"]:not(.tooltipped) header a.name, .b-user[id="844199"] a.name, .b-user16>img[src*="844199.png"]+span {
    color: #94211e;
}
/* マ croissant マ */
.b-comment[data-user_id="718383"]:not(.tooltipped) header a.name:hover:after {
    content: "Хатакэ はたけ";
    color: #927dd6
}
.b-comment[data-user_id="718383"]:not(.tooltipped) header a.name, .b-user[id="718383"] a.name, .b-user16>img[src*="718383.png"]+span {
    color: 	#927dd6;
}

/* Kitsune74 */
.b-comment[data-user_id="398965"]:not(.tooltipped) header a.name:hover:after {
    content: "Демон-лис 狐";
    color: #FF4F00
}
.b-comment[data-user_id="398965"]:not(.tooltipped) header a.name, .b-user[id="398965"] a.name {
    color: #FF4F00;
}

/* 鬼火 Onibi */
.b-comment[data-user_id="53096"]:not(.tooltipped) header a.name:hover:after {
    content: "Ониби 鬼火";
    color: #BC8F8F
}
.b-comment[data-user_id="53096"]:not(.tooltipped) header a.name, .b-user[id="53096"] a.name, .b-user16>img[src*="53096.png"]+span {
    color: #BC8F8F;
}
/* Yaoi-chan */
.b-comment[data-user_id="85743"]:not(.tooltipped) header a.name:hover:after {
    content: "Фудзёси";
  	color: #ff32cb;
}
.b-comment[data-user_id="85743"]:not(.tooltipped) header a.name, .b-user[id="85743"] a.name, .b-user16>img[src*="85743.png"]+span {
    color: #ff32cb;
}
/* 7ГРЕХОВ */
.b-comment[data-user_id="717829"]:not(.tooltipped) header a.name:hover:after {
    content: "Грешница";
    color: red;
}
.b-comment[data-user_id="717829"]:not(.tooltipped) header a.name, .b-user[id="717829"] a.name, .b-user16>img[src*="717829.png"]+span {
    color: #d10000;
}

/* Хорнизаврик */
.b-comment[data-user_id="368465"]:not(.tooltipped) header a.name:hover:after {
    content: "Хорнизаврик";
}
.b-comment[data-user_id="368465"]:not(.tooltipped) header a.name, .b-user[id="368465"] a.name, .b-user16>img[src*="368465.png"]+span {
    color: #CD00CD;
}

/* Aoi_Umi */
.b-comment[data-user_id="23806"]:not(.tooltipped) header a.name:hover:after {
    content: "Демон обмана";
    color: #BC8F8F
}
/* Daria Aki */
.b-comment[data-user_id="78160"]:not(.tooltipped) header a.name:hover:after {
    content: "Кусезависимая милаха";
}
.b-comment[data-user_id="78160"]:not(.tooltipped) header a.name, .b-user[id="78160"] a.name, .b-user16>img[src*="78160.png"]+span {
    color: green;
}

/* haruharu */
.b-comment[data-user_id="300337"]:not(.tooltipped) header a.name:hover:after {
    content: "Демон-гузлик";
    color: #7a554d	
}
.b-comment[data-user_id="300337"]:not(.tooltipped) header a.name, .b-user[id="300337"] a.name, .b-user16>img[src*="300337.png"]+span {
    color: #AF4035;
}
/* Kralka */
.b-comment[data-user_id="271554"]:not(.tooltipped) header a.name:hover:after {
    content: "Кралечка";
    color: #4169E1;
}
.b-comment[data-user_id="271554"]:not(.tooltipped) header a.name, .b-user[id="271554"] a.name {
    color: #2A52BE;
}
/* Хомяк! */
.b-comment[data-user_id="277054"]:not(.tooltipped) header a.name:hover:after {
    content: "Хомяк!";
    color: #FFBF40	
}

/* Anime Degenerate */
.b-comment[data-user_id="771843"]:not(.tooltipped) header a.name:hover:after {
    content: "Демон зависти";
    color: #006400;
}
.b-comment[data-user_id="771843"]:not(.tooltipped) header a.name, .b-user[id="771843"] a.name {
    color: #006400;
}
/* _Рикки_ */
.b-comment[data-user_id="626523"]:not(.tooltipped) header a.name:hover:after {
    content: "Мангуст マングース";
}
.b-comment[data-user_id="626523"]:not(.tooltipped) header a.name, .b-user[id="626523"] a.name, .b-user16>img[src*="626523.png"]+span {
    color: 	crimson;
}
/* "Чей-то" твинк призрак */
.b-comment[data-user_id="927831"]:not(.tooltipped) header a.name:hover:after {
    content: "Призрак";
}
/* ZeroTwoo */
.b-comment[data-user_id="857033"]:not(.tooltipped) header a.name, .b-user[id="857033"] a.name {
    color: #FB7BF0;;
}

/* hiphopik */
.b-comment[data-user_id="702035"]:not(.tooltipped) header a.name:hover:after {
    content: "Демон-сэмпай";
}
/* Капсула */
.b-comment[data-user_id="809562"]:not(.tooltipped) header a.name:hover:after {
    content: "Ракушка";
}
/* Чайный */
.b-comment[data-user_id="520635"]:not(.tooltipped) header a.name:hover:after {
    content: "Демон слайсов";
}
/* SMOKE */
.b-comment[data-user_id="154783"]:not(.tooltipped) header a.name:hover:after {
    content: "Биг Смоук-сан 大きな煙さん";
}
/* Пакетик */
.b-comment[data-user_id="945135"]:not(.tooltipped) header a.name:hover:after {
    content: 'Пакет биоразлагаемый "Пятёрочка" (название временное)';
	color: #e9983a;
}
.b-comment[data-user_id="945135"]:not(.tooltipped) header a.name, .b-user[id="945135"] a.name, .b-user16>img[src*="945135.png"]+span {
    color: #e9983a;
}

/* Аква-сама 451492 */
.b-comment[data-user_id="451492"]:not(.tooltipped) header a.name:hover:after 
{
	content: "Богиня воды";
  	color: deepskyblue;
}
.b-comment[data-user_id="451492"]:not(.tooltipped) header a.name, .b-user[id="451492"] a.name, .b-user16>img[src*="451492.png"]+span {
    color: blue;
}
/* Ару Акисэ */
.b-comment[data-user_id="910663"]:not(.tooltipped) header a.name:hover:after {
    content: "Корреспондент";
    color: purple;
  	background: rgb(251 235 255 / 90%) !important;
}
.b-comment[data-user_id="910663"]:not(.tooltipped) header a.name, .b-user[id="910663"] a.name, .b-user16>img[src*="910663.png"]+span {
    color: purple;
}
.b-clubs-menu .admin .b-user[id='910663'] .name::after {
    content: 'Корреспондент';
}
/* Айка Сумэраги */
.b-comment[data-user_id="911382"]:not(.tooltipped) header a.name:hover:after {
    content: "Корреспондентка";
    color: #AF4035;
}
.b-comment[data-user_id="911382"]:not(.tooltipped) header a.name, .b-user[id="911382"] a.name, .b-user16>img[src*="911382.png"]+span {
    color: #AF4035;
}
.b-clubs-menu .admin .b-user[id='911382'] .name::after {
    content: 'Корреспондентка';
}
